*{
 margin:0;
padding:0;
box-sizing:border-box;
font-family: 'Gilroy';
}

html,body{
height:100%;
width:100%;
}
#loader{
    height: 100%;
    width: 100%;
    background-color: #0B0B0B;
    position: fixed;
    z-index: 999;
    padding: 25vh 10vw;
    color: #fff;
}
.line{
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
}
.line-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}
.line-part1 h5,h6{
 font-size: 3vw;
 font-family: silk;
}
.line-part1 h5{
    width: 5vw;
    text-align: right;
}
.line h1{
   font-size: 6.5vw;
   text-transform: uppercase;
   font-weight: 700;
  
}
.line h2{
    font-size: 5vw;
    text-transform: uppercase;
    opacity: 0;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}


@keyframes anim {
    0%{
        font-family: 'palin';
        -webkit-text-stroke: 1px solid #fff;
        color: #fff;
        opacity: 1;
        font-weight: 500;
        
    }
    47%{
        font-family: 'palin';
        -webkit-text-stroke: 1px solid #fff;
        color: #fff;
        opacity: 0;
        font-weight: 500;
        
    }
    

    50%{
        font-family: 'silk';
        -webkit-text-stroke: 1px solid #fff;
        color: transparent;
        opacity: 1;
        font-weight: 500;
    }
    100%{
        font-family: 'silk';
        -webkit-text-stroke: 1px solid #fff;
        color: transparent;
        opacity: 0;
        font-weight: 500;
    }
}

.main{
    background-color: black;
}
